src/main/app/cliente-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <flow name="getClientesFlow">
        <set-variable variableName="whereCpf" value="#[message.inboundProperties.'http.query.params'.cpf == empty ? &quot;&quot; : &quot; and cpf='&quot; + message.inboundProperties.'http.query.params'.cpf + &quot;'&quot;]" doc:name="Where Cpf"/>
        <set-variable variableName="whereId" value="#[flowVars.id_cliente == empty ? &quot;&quot; : &quot; and id='&quot; +flowVars.id_cliente + &quot;'&quot;]" doc:name="Where Id"/>
        <db:select config-ref="Generic_Database_Configuration" doc:name="Select Clientes">
            <db:dynamic-query><![CDATA[select *
from cliente
where 1=1 #[flowVars.whereCpf] #[flowVars.whereId]]]></db:dynamic-query>
        </db:select>
        <validation:custom-validator exceptionClass="br.com.banco.exception.ClienteNotFoundException" class="br.com.banco.validator.CustomSelectValidator" doc:name="Validate Select"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload map ((payload01 , indexOfPayload01) -> {
	cpf: payload01.CPF,
	endereco: payload01.ENDERECO,
	id: payload01.ID,
	nome: payload01.NOME
})]]></dw:set-payload>
        </dw:transform-message>
        <exception-strategy ref="globalChoiceExceptionStrategy" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="getClienteFlow">
        <flow-ref name="getClientesFlow" doc:name="getClientesFlow"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload[0]]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    <flow name="insertClienteFlow">
        <json:json-to-object-transformer returnClass="java.util.HashMap" doc:name="JSON to Object"/>
        <validation:custom-validator class="br.com.banco.validator.CustomCPFValidator" doc:name="Validate CPF"/>
        <db:insert config-ref="Generic_Database_Configuration" autoGeneratedKeys="true" autoGeneratedKeysColumnNames="id" doc:name="Insert Cliente">
            <db:parameterized-query><![CDATA[INSERT INTO cliente (nome, cpf, endereco) VALUES (#[payload.nome], #[payload.cpf], #[payload.endereco])]]></db:parameterized-query>
        </db:insert>
        <set-payload value="#[payload[0].'SCOPE_IDENTITY()']" doc:name="Set Payload"/>
        <set-property propertyName="Location" value="#['${baseUri}/clientes/'+payload]" doc:name="Set Location Header"/>
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
        <exception-strategy ref="globalChoiceExceptionStrategy" doc:name="Reference Exception Strategy"/>
    </flow>
</mule>
