src/main/app/conta-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
    <flow name="getContasFlow">
        <enricher target="#[flowVars.cliente]" doc:name="Message Enricher">
            <flow-ref name="getClientesFlow" doc:name="getClientesFlow"/>
        </enricher>
        <set-variable variableName="whereIdConta" value="#[flowVars.id_conta == empty ? &quot;&quot; : &quot; and id='&quot; +flowVars.id_conta + &quot;'&quot;]" doc:name="Where Id conta"/>
        <db:select config-ref="Generic_Database_Configuration" doc:name="Select Contas">
            <db:dynamic-query><![CDATA[select *
from conta
where id_cliente = #[flowVars.id_cliente] #[flowVars.whereIdConta]]]></db:dynamic-query>
        </db:select>
        <validation:custom-validator exceptionClass="br.com.banco.exception.ContaNotFoundException" class="br.com.banco.validator.CustomSelectValidator" doc:name="Validate Select"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload map ((payload01 , indexOfPayload01) -> {
	agencia: payload01.AGENCIA,
	conta: payload01.CONTA,
	id: payload01.ID,
	saldo: payload01.SALDO as :number,
	(tipoConta: 'poupanca') when payload01.TIPO_CONTA == 0,
	(tipoConta: 'corrente') when payload01.TIPO_CONTA == 1
})]]></dw:set-payload>
        </dw:transform-message>
        <exception-strategy ref="globalChoiceExceptionStrategy" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="getContaFlow">
        <flow-ref name="getContasFlow" doc:name="getContasFlow"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload[0]]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    <flow name="insertContasFlow">
        <enricher target="#[flowVars.cliente]" doc:name="Message Enricher">
            <flow-ref name="getClientesFlow" doc:name="getClientesFlow"/>
        </enricher>
        <json:json-to-object-transformer returnClass="java.util.HashMap" doc:name="JSON to Object"/>
        <db:insert config-ref="Generic_Database_Configuration" autoGeneratedKeys="true" autoGeneratedKeysColumnNames="id" doc:name="Insert Conta">
            <db:dynamic-query><![CDATA[INSERT INTO conta (id_cliente, agencia, conta, tipo_conta, saldo) VALUES (#[flowVars.id_cliente], #[payload.agencia], #[payload.conta], '#[payload.tipoConta]', #[payload.saldo])]]></db:dynamic-query>
        </db:insert>
        <set-payload value="#[payload[0].'SCOPE_IDENTITY()']" doc:name="Set Payload"/>
        <set-property propertyName="Location" value="#['${baseUri}/clientes/'+flowVars.id_cliente+'/contas/'+payload]" doc:name="Location Header"/>
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload" />
        <exception-strategy ref="globalChoiceExceptionStrategy" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="updateSaldoContaFlow">
    	<enricher target="#[flowVars.cliente]" doc:name="Message Enricher">
            <flow-ref name="getContasFlow" doc:name="getContasFlow"/>
        </enricher>
        <json:json-to-object-transformer returnClass="java.util.HashMap" doc:name="JSON to Object"/>
        <db:update config-ref="Generic_Database_Configuration" doc:name="Update Conta">
            <db:parameterized-query><![CDATA[update conta set saldo = #[payload.novoSaldo] where id = #[flowVars.id_conta] and id_cliente = #[flowVars.id_cliente]]]></db:parameterized-query>
        </db:update>
        <set-payload value="#[flowVars.id_conta]" doc:name="Set Payload"/>
        <set-property propertyName="Location" value="#['${baseUri}/clientes/'+flowVars.id_cliente+'/contas/'+payload]" doc:name="Location Header"/>
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload" />
        <exception-strategy ref="globalChoiceExceptionStrategy" doc:name="Reference Exception Strategy"/>
    </flow>
</mule>
